<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revision Timer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script>
      
    </script>
</head>
<body>
    <h1>Revision Timer</h1>
    <h2 id="startText">Working</h2>
    <h2 id="pauseText">Paused</h2>
    <h2 id="startBreakText">Break Time</h2>
    <div id="app"></div>
    
    
    <button onclick="displayPause()" id="startBtn">Start</button>
    <button onclick="displayStart()" id="pauseBtn">Pause</button>
    <button id="startBreakBtn">Start Break</button>
    <div id="hours">
        <h1>Hours <div id="hoursDone"></div></h1>
    </div>
    
    
    <script>
      
      // Credit: Mateusz Rybczonec

const FULL_DASH_ARRAY = 283;
const WARNING_THRESHOLD = 10;
const ALERT_THRESHOLD = 5;

const COLOR_CODES = {
  info: {
    color: "green"
  },
  warning: {
    color: "orange",
    threshold: WARNING_THRESHOLD
  },
  alert: {
    color: "red",
    threshold: ALERT_THRESHOLD
  }
};
let tl = {{time_limit_arg|tojson}};
let bt = {{break_time_arg|tojson}};
let TIME_LIMIT = tl;
let timePassed = 0;
let hoursCompleted = 0;
let timeLeft = TIME_LIMIT;
let timerInterval = null;
let remainingPathColor = COLOR_CODES.info.color;
let breakTime = false; 
let started = false;
let working = true;
function displayBaseTimer(){
  document.getElementById("app").innerHTML = `
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining ${remainingPathColor}"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span id="base-timer-label" class="base-timer__label">${formatTime(
      timeLeft
    )}</span>

    
  </div>
  `;
}
displayBaseTimer();
var startButton = document.getElementById("startBtn");
var pauseButton = document.getElementById("pauseBtn");
var startBreakButton = document.getElementById("startBreakBtn");


var startText = document.getElementById("startText");
var pauseText = document.getElementById("pauseText");
var startBreakText = document.getElementById("startBreakText");

var hoursDone = document.getElementById("hoursDone");
startButton.style.display = "block";
pauseButton.style.display = "None";
startBreakButton.style.display = "None";

startText.style.display = "block";
pauseText.style.display = "None";
startBreakText.style.display = "None";

function displayStart(){
  startButton.style.display = "block";
  pauseButton.style.display = "None";
  startBreakButton.style.display = "None";
  console.log("displayStart");
  if (started){
    startText.style.display = "None";
    pauseText.style.display = "block";
    startBreakText.style.display = "None";
    return;
  }
  return;
}
function displayPause(){
  startButton.style.display = "None";
  pauseButton.style.display = "block";
  startBreakButton.style.display = "None";
  if (working){
    startText.style.display = "block";
    pauseText.style.display = "None";
    startBreakText.style.display = "None";
    return;
  }
  startText.style.display = "None";
  pauseText.style.display = "None";
  startBreakText.style.display = "block";
  return;
}

startButton.addEventListener("click", startTimer);
pauseButton.addEventListener("click", pauseTimer);
startBreakButton.addEventListener("click", startTimer);
function pauseTimer() {
  clearInterval(timerInterval);
}


function onTimesUp() {
  clearInterval(timerInterval);
  timePassed = 0;
  timerInterval = null;
  started = false
  if (breakTime){
    console.log("work Time");
    TIME_LIMIT = tl;
    breakTime = false;
    displayStart();
    working = true;
    timeLeft = TIME_LIMIT;
    displayBaseTimer();
    return;    
  }
  working = false;
  TIME_LIMIT = bt;
  breakTime = true;
  hoursCompleted += 1;
  hoursDone.innerHTML = hoursCompleted + "/6";
  startButton.style.display = "None";
  pauseButton.style.display = "None";
  startBreakButton.style.display = "block";

  startText.style.display = "None";
  pauseText.style.display = "None";
  startBreakText.style.display = "block";

  timeLeft = TIME_LIMIT;
  displayBaseTimer();
  console.log("Break Time");
}

function startTimer() {
  
  started = true;
  displayPause();
  timerInterval = setInterval(() => {
    timePassed = timePassed += 1;
    timeLeft = TIME_LIMIT - timePassed;
    document.getElementById("base-timer-label").innerHTML = formatTime(
      timeLeft
    );
    setCircleDasharray();
    setRemainingPathColor(timeLeft);

    if (timeLeft === 0) {
      onTimesUp();
    }
  }, 1000);
}

function formatTime(time) {
  const minutes = Math.floor(time / 60);
  let seconds = time % 60;

  if (seconds < 10) {
    seconds = `0${seconds}`;
  }

  return `${minutes}:${seconds}`;
}

function setRemainingPathColor(timeLeft) {
  const { alert, warning, info } = COLOR_CODES;
  if (timeLeft <= alert.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(warning.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(alert.color);
  } else if (timeLeft <= warning.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(info.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(warning.color);
  }
}

function calculateTimeFraction() {
  const rawTimeFraction = timeLeft / TIME_LIMIT;
  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
}

function setCircleDasharray() {
  const circleDasharray = `${(
    calculateTimeFraction() * FULL_DASH_ARRAY
  ).toFixed(0)} 283`;
  document
    .getElementById("base-timer-path-remaining")
    .setAttribute("stroke-dasharray", circleDasharray);
}
    </script>
</body>
</html>